# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Wallet credentails
*.sk
*.addr
# Temporary workings
scratch.ts
# VSCode files
*.code-workspace